.iconlink {
    color: black;
}

.headshot {
    border-radius: 50%;
    border: 5px solid blue;
    width: 300px;
    height: 300px;
    margin-top: 10px;
}

.headingcontainer {
    background-color: lightblue;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-family: 'Archivo Narrow';
    font-size: 60px;
    margin: 10px;
}

.subtitle {
    font-family: 'B612 Mono';
    font-size: 30px;
}

.navbar {
    position: relative;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-toggler {
    margin-right: 10px;
}


.openingDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitlecontainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(219, 96, 96);
    box-shadow: -10px 10px 0px rgb(217, 217, 217);
}

.sectionTitleContainer {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

.sectionTitle {
    background-color: rgb(252, 255, 107);
    margin-right:15px;
    box-shadow: 15px 0px 0px rgba(0, 26, 255, 0.7);
    width: 25%;
}

.sectionTitleText {
    font-family: 'Archivo Narrow';
    font-weight: bold;
    font-size: 60px;
    text-align: right;
    margin-right: 10px;
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.aboutText {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'B612 Mono';
}

.techTitle {
    font-family: 'B612 Mono';
    color: rgba(0, 26, 255, 0.7);
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
}

.skillSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsBox {
    display: flex;
    width: 75%;
    justify-content: center;
}

.frontend {
    font-family: 'B612 Mono';
    color: white;
    width: 30px;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: rgb(219, 96, 96);
    margin-left: 10px;
    margin-bottom: 20px;
}

.backend {
    font-family: 'B612 Mono';
    color: white;
    width: 30px;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: rgb(117, 185, 136);
    margin-left: 10px;
    margin-bottom: 20px;
}

.otherTech {
    font-family: 'B612 Mono';
    color: white;
    width: 30px;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: rgb(120, 21, 98);
    margin-left: 10px;
    margin-bottom: 20px;
}

.skillContainer {
    background-color: rgb(252, 255, 107);
    width: 100%;
    margin-bottom: 20px;
}

.skillText {
    font-family: 'B612 Mono';
    font-size: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    .links {
        display: none;
    }
}

@media screen and (min-width: 991px) {
    .mx-auto {
        display: none;
    }
}
